option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 512M
  aws:elasticbeanstalk:application:environment:
    COMPOSER_HOME: /root

container_commands:
  01-artisan-migrate:
    command: "php artisan migrate --force"
    leader_only: true
  02-artisan-config-cache:
    command: "php artisan config:cache"
  03-artisan-route-cache:
    command: "php artisan route:cache"
  04-artisan-view-cache:
    command: "php artisan view:cache"
